@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body{
    font-family: 'Noto Sans TC', sans-serif;
}
.text{
    text-align: center;
}
textarea {
    width: 100%; /* Ширина поля в процентах */
    margin: 0;
    height: 20000px; /* Высота поля в пикселах */
    resize: none; /* Запрещаем изменять размер */
    border-style: none;  
    border: none;
    background-color: transparent;    
    font-size: 20px;
   } 
.label{
    text-align: center;
}