@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
body{
    font-family: 'Noto Sans TC', sans-serif;
}
.main-grid{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 300px auto;
    grid-template-rows: 110%;
}
.menu-container{
    background-color: #F0F0F0;
    margin: 0px;
    padding-top: 30px;
    text-align: left;
}
.pointer{
    padding-left: 15px;
}
.pointer:hover{
    padding-left: 25px;
}
.pointer-notes{
    padding-left: 10px;
}
.my-account{
    display: grid;
    padding: 10px;
    grid-template-columns: 40px 10px 210px 50px;
    grid-template-rows: 15px;
}
.my-account:hover{
    font-weight: bold;
}
.up{
    margin-top: 3px;
}
.upper{
    margin-top: 15px;
}
.month-button{
    font-size: 15px;
    height: 15px;
    width: 180px;
    display: grid;
    grid-template-columns: 125px 20px;
    grid-template-rows: 50px;
}
.month-button:hover{
    cursor: pointer;
}
.up20{
    padding-top: 10px;
    width: 20px;
}
.first-point{
    grid-column: 1 / 1;
}
.second-point{
    grid-column: 2 / 2;
}
.up:hover{
    cursor:pointer;
}
.my-account-element{
    width: 20px;
    height: 10px;
}
.grid-logout{
    width: 120px;
    display: grid;
    grid-template-columns: 90px 30px;
    grid-template-rows: 30px 30px;
    grid-gap: 5px;
}
.menu-button{
    padding-left: 10px;
    display: grid;
    grid-template-columns: 140px 10px;
    grid-template-rows: 28px;
}
.menu-button:hover{
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
}
.notes-grid{
    display: grid;
    grid-template-columns: 20px 40px;
    padding-left: 15px;
}
.notes-grid:hover{
    padding-left: 25px;
    cursor: pointer;
}
.width20{
    width: 20px;
}
.tasks-container{
    text-align: center;
    padding-top: 100px;
}

.container-targets{
    padding-left: 10px;
}
.year-target{
    font-size: 25px;
}
a{
    width: 100%;
    text-decoration: none;
    color: #909090;
}
a:hover{
    color: black;
}
.month-days{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 20px;
    margin 10px;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;
}
.month-days button{
    width: 190px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 10px;
}
.month-days button:hover{
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
}

.day{
    margin: 5px;
    width: 200px;
    height: 200px;
    background-color: rgba(235, 235, 235, 1);
    transition: 0.3s;
    border-radius: 15px;
}
.day:hover{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    cursor: pointer;
}
.text-days{
    text-align: left;
    padding-left: 10px;
    font-weight: 700;
}
.day-tasks{
    list-style: none;
    text-decoration: none;
    width: 50%;
}
.align-content{
    padding-left: 25px;
}
.flex-container{
    margin-left: 25px;
    width: 395px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 13px;
    padding-left: 10px;
    list-style: none;
}
.flex-item{
   width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.half{
  width: 350px;
  height: 35px;
  padding-top: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.half:hover{
  text-decoration: line-through;
  color: green;
    cursor:pointer;
}
.done-container{
    width: 395px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 13px;
    list-style: url("svg/done.svg");
}
.done-task{
  width: 350px;
  height: 35px;
  padding-top: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  text-decoration: line-through;
  color: green;
}
input[type=task] {
  padding-left: 10px;
  font-size: 15px;
  height: 35px;
  margin: 5px 0 2px 0;
  border: none;
  background: #f1f1f1;
}

.btn {
    height: 45px;
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
.green{
   background: rgba(45, 181, 66, 1);
}
.green: hover{
   box-shadow: 10px solid black;
}
/* Darker background on mouse-over */
.btn:hover {
    background-color: orangered;
}
.settings{
    color: #CDCDCD;
}
.add-button{
    width: 80%;
    height: 20px;
}
.submit-button{
    font-size: 15px;
}
.submit-button:hover{
    font-weight: bold;
    cursor: pointer;
}
.align{
    text-align: center;
}
.tarif{
    display: grid;
    margin: 20px;
    grid-template-columns: 35% 35%;
    text-align: center;
    grid-gap: 20%;

}
.grid-element-tarif{
    border: 2px solid black;
    border-radius: 5px;
    height: 200px;
}
.tarif-done{
    display: grid;
    grid-template-columns: 190px 20px;
    grid-template-rows: 20px;
}
.year-goals{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 13px;
    padding: 0;
    list-style:url("svg/003-darts.svg");
    padding-left: 20px;
}
.year-goal{
    padding-left: 20px;
    margin: 10px;
    width: 70%;
    height: 30px;
    font-size: 20px;
}
.flex-support{
    display: grid;
    grid-template-columns: 200px;
}
* {
  box-sizing: border-box;
}

.all-months{
    display: grid;
    width: 90%;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 50px 50px;
    grid-gap: 10px;
}
.all-months-element{
    background-color: rgba(235, 235, 235, 1);
    text-align: center;
    vertical-align:bottom;
    border-radius: 15px;
    padding-top: 10px;
}
.all-months-element:hover{
    background-color: rgba(245, 235, 235, 1);
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    cursor: pointer;

}
.active{
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}
.main-tasks-container{
    width: 410px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 13px;
    padding: 0;
    list-style: none;
    padding-left: 40px;
}
.task-element{
    font-size: 20px;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:21px;
    height:21px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    border: 2px  solid black;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    border: none;
    background: url("svg/003-darts.svg") no-repeat;

}
input[type="checkbox"]:checked span{
    text-decoration: line-through;
    text-decoration-color: green;
}
button{
    width: 150px;
    height:40px;
}
.button-add-people{
    display: grid;
    grid-template-columns: 100px 25px;
    border-radius: 10px;
    background-color: white;
}
.button-add-people:hover{
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    cursor: pointer;
}
.left{
    width: 25px;
}
.delete:hover{
    background-color: #f23333;
    color: white;
}
.rules{
    padding-top: 90%;
    color: grey;
    font-size: 10px;
    text-align: center;
}
a:hover{
    cursor: pointer;
}
/* Expitement */
        * {
		    box-sizing: border-box;
		}
		.checkbox-first__label{
			cursor: pointer;
			user-select: none;
		}
		.checkbox-first__label input:checked + .checkbox {
			border-color: #25b9d4;
		}
		.checkbox-first__label .checkbox svg {
			position: absolute;
			top: -2px;
			left: -2px;
		}
		.checkbox-first__label input:checked + .checkbox svg path {
			fill: #25b9d4;
		}
		.checkbox-first__label input:checked + .checkbox svg polyline {
		    stroke-dashoffset: 0;
		}
		.checkbox-first__label:hover .checkbox svg path {
			stroke-dashoffset: 0;
		}
		.checkbox-first__label .checkbox {
			position: relative;
            margin-top: 10px;
			top: 2px;
			float: left;
			width: 20px;
			height: 20px;
			margin-right: 8px;
			border-radius: 3px;
			border: 2px solid #c8ccd4;
		}
		.checkbox-first__label .checkbox svg {
			position: absolute;
			top: -2px;
			left: -2px;
		}
		.checkbox-first__label .checkbox svg path {
			fill: none;
			stroke: #25b9d4;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 71px;
			stroke-dashoffset: 71px;
			transition: all 0.6s ease;
		}
		.checkbox-first__label .checkbox svg polyline {
			fill: none;
			stroke: #fff;
			stroke-width: 2;
			stroke-linecap: round;
			stroke-linejoin: round;
			stroke-dasharray: 18px;
			stroke-dashoffset: 18px;
			transition: all 0.3s ease;
		}
		.checkbox-first__label > span {
			pointer-events: none;
			vertical-align: middle;
		}
		.checkbox {
			position: relative;
			top: 2px;
			float: left;
			width: 20px;
			height: 20px;
			margin-right: 8px;
			border-radius: 3px;
			border: 2px solid #c8ccd4;
		}
		.checkbox-first__input {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			z-index: -1;
		}
    .checkbox-first__label input:checked .half{
        text-decoration: line-through;
        color: green;
        cursor:pointer;
    }
.new-project-buttons{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 50px;
}
.new-project-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 190px;
    display: grid;
    grid-template-columns: 160px 20px;
    grid-template-rows: 50px;
}
.container-new-task{
  display: grid;
  grid-template-columns: 200px 40px;
  grid-gap: 10px;
  padding-left: 10px;
}
